.circulo {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: red;
}

.cuadrado{
     width: 200px; 
     height: 200px; 
     background: green;
}

.triangulo{
    width: 0%;
    height: 0%;
    border-right: 100px solid transparent ;
    border-left: 100px solid transparent;
     border-bottom: 100px solid palevioletred;
}